/*ESTILOS GLOBALES*/

body {
	margin: 0;
	padding: 0;
	background-size: cover;
	font-family: sans-serif;
	overflow-x: hidden !important;
}

a > p {
	color: #FFF;
}

a:hover {
	text-decoration: none !important;

}

.btnCustomized {
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 100px;
	color: #FFF;	
	background: #D31027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}